#root {
  margin: 0 auto;
  width: 100vw;
  height: 100vh ;
}
body{
  margin: 0px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  margin: 0px;
}
.intro{
  display: flex;
  flex-direction: column;
  background-color: #282828;
  justify-content: space-between;
  padding: 60px 90px 30px 90px;
}

.intro-img{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-img img{
  width: 100px;
}

.intro-info{
  padding: 150px 0px 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.intro-info h1{
  font-size: 100px;
  width: 700px;
  font-weight: 900;
  margin:0px;
}

.intro-info p{
  font-size: 30px;
  width: 430px;
  padding-bottom: 70px;
}

.intro-info button{
  background-color: white;
  font-size: 35px;
  font-weight: 600;
  padding: 30px 20px;
}

.info{
  padding: 220px 0px 180px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 70px;
}

.info-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
}

.info-box img{
  width: 160px;
}

.info-box h3{
  font-size: 33px;
  margin: 5px 0px;
}

.info-box p{
  width: 200px;
  margin: 0px;
  font-size: 23px;
}